# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.dylib

# Virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
staticfiles/
media/

# Local configurations
*.local
*.env

# MacOS
.DS_Store

# Windows
Thumbs.db

# IDEs and text editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Docker
docker-compose.override.yml
